.left-con dl{
    margin-bottom:10px;
}
.left-con dl dt{
    line-height:32px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    border-bottom:1px solid #eee;
    margin-bottom: 10px;
}
.left-con dl dd{
    padding-left: 20px;
}
.left-con dl dd a{
    position: relative;
    padding-left:14px;
    display: inline-block;
    font-size: 14px;
    color: #666;
    line-height: 32px;
}
.left-con dl dd a::before{
    position: absolute;
    left:0;
    top:50%;
    margin-top:-2px;
    display: inline-block;
    content:'';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background:#666;
}
.left-con dl dd a:hover{
    text-decoration: underline;
}