.right-con{
    width:250px;
    padding: 20px;
    overflow: hidden;
    float: right;
    background: #fff;
}

.right-con .rig-tit{
    font-size: 16px;
    font-weight: 400;
    padding:15px 0;
}
.right-con .hot-list{
    width:100%;
    padding-left:15px;
    font-size: 14px;
}
.right-con .hot-list h3{
    width: 100%;
    font-weight: 400;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    overflow: hidden;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right-con .hot-list h3:hover{
    border-bottom: 1px solid #999;
}
.right-con .tag-list{
    width:100%;
    padding-left:15px;
    font-size: 14px;
}
.right-con .tag-list a{
    display: inline-block;
    padding:0 10px;
    margin-right: 12px;
    color: #666;
    cursor: pointer;
    margin-bottom:14px;
    line-height:24px;
    height: 24px;
    border-radius:24px;
    border: 1px solid #666;
}

.right-con .tag-list a.active,
.right-con .tag-list a:hover{
    color: #fff;
    background: #666;
}